@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  position: relative;
  max-width: 400px;
  max-height: 850px;
  margin: 0 auto;
  background-color: #ffffff;
}
html,
body {
  max-width: 400px;
  max-height: 850px;
  margin: 0 auto;
  background-color: #dddddd;
}

.container {
  width: 400px;
  height: 850px;
  margin: 0 auto; /* Center the container */
}

.nav-bar {
  background: linear-gradient(to bottom, #d2d2d2, #d2d2d2);
}

.nav-item {
  color: #fff;
  cursor: pointer;
  width: 70px;
  height: 85px;
}

.nav-icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-button {
  width: 350px;
  height: 50px;
  margin-left: 25px;
  background-color: #008485;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.green-button:hover {
  background-color: hsl(180, 96%, 20%);
}

.top-line {
  display: flex;
  align-items: center; /* Vertically center the items */
}

.top-line .icon {
  width: 25px;
  height: 25px;
  margin: 15px;
  margin-left: 25px;
}
